.education-wrapper{
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.education-outer{
    width: 35%;
    /* background-color: cadetblue; */
    padding: 2em;
    display: flex;
    gap: 2em;
    flex-direction: column;
    color: white;
}

.education-inner{
    display: flex;
    background-color: #1B2436;
    gap: 1em;
    align-items: center;
    padding: 1.5em;
    border-radius: 8px;
}

.interests-wrapper{
    /* background-color: cadetblue; */
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 30%;
    color: white;
    justify-content: space-between;
}

.interests-inner{
    background-color: #1B2436;
    padding: 1.5em;
    display: flex;
    gap: 2em;
    align-items: center;
}

.interests-inner img{
    height: 70px;
    width: 70px;
}