.landing-page-outer{
    width: 100%;
    /* background-color: brown; */
}

.landing-page-inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 0;
    /* background-color: cadetblue; */
}

.about-heading{
    font-size: 20px;
    color: #FAFAFA;
    /* padding: 2em 0; */
    /* background-color: chocolate; */
}

.about-heading-beg{
    margin-right: 0.25em;
}

.type-writer-text{
    color: #72E2AE;
}

.about{
    text-align: center;
    color: #B9B8C5;
    width: 100%;
}

#dp-container{
    width: 20%;
}

#dp-container img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 2px solid #72E2AE;
}

.social-links{
    /* background-color: chocolate; */
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.social-links-icons{
    width: 17%;
    height: 100%;
    /* height: 30px;
    width: 30px; */
}

.social-links-icons img{
    height: 100%;
    width: 100%;
}

@media(max-width: 650px){
    #dp-container{
        width: 40%;
    }
    .about{
        text-align: center;
        color: #B9B8C5;
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    .about-heading{
        width: 80%;
        text-align: center;
        font-size: 17px;
    }
    .social-links{
        /* background-color: chocolate; */
        width: 40%;
        display: flex;
        justify-content: space-around;
    }
}