.certifications-wrapper{
    width: 100%;
    color: #EFEEEF;
    
}

.certifications-inner{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: 0 auto;
    /* background-color: darkcyan; */
    gap: 2em;
    padding: 3em;
    /* background-color: coral; */
}

@media(max-width: 1300px){
    .certifications-inner{
        width: 75%;
        
    }
}