.contact-form-wrapper{
    width: 45%;
    background-color: #1B2436;
    padding: 2em;
    border-radius: 8px;
}

.contact-form-wrapper form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap : 5px;
    /* background-color: darkolivegreen; */
    min-width: 0px;
}

.contact-form-wrapper form input{
    height: 30px;
    background-color: #1C2335;
}

.el1{
    grid-row: 1/2;
}
.el2{
    grid-row: 2/3;
}
.el3{
    grid-row: 3/4;
}
.el4{
    grid-row: 4/5;
}
.el5{
    grid-row: 5/6;
}
.el6{
    grid-row: 6/7;
}
.el7{
    grid-row: 7/8;
}
.el8{
    resize: none;
    grid-row: 8/12;
    grid-column: 1/-1;
}

#msg-drop{
    background-color: #72E2AE;
    font-size: 15px;
}